* {
    box-sizing: border-box;
    position: relative;
}

body {
    margin: 0;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
    font-weight: lighter;
    margin-bottom: 0;
    font-family: 'Lobster', cursive;
}

.form-container {
    max-width: 500px;
    margin: auto;
    margin-top: 30px;
}

form {
    width: 100%;
    display: flex;
}

form input {
    width: 100%;
    height: 50px;
    margin-right: 6px;
    margin-bottom: 5px;
    font-size: 18px;
    padding: 8px 14px;
    border: 4px solid #ccc;
    font-size: 18px;
    border-radius: 40px;
    transition: all 200ms;
}

form input:hover,
form input:focus {
    outline: none;
    border-color: lightgreen;
    box-shadow: inset 0 0 8px -2px rgba(0, 0, 0, .5);
}

form button {
    width: 60px;
    height: 50px;
    font-size: 40px;
    font-weight: bolder;
    line-height: .5;
    padding: 8px;
    border-radius: 20px;
    border: 4px solid #ccc;
    background-color: #eee;
    cursor: pointer;
    transition: all 200ms;
}

form button:hover {

    border-color: lightgreen;

    box-shadow: -8px 10px 25px -10px rgba(0, 0, 0, .5);
    transform: translateX(5px) translateY(-2px);
}

form button:focus {
    outline: none;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transform: translateX(0px) translateY(0px);
}

.dropdown {
    display: none;
    max-width: 444px;
    border: 1px solid #aaa;
    margin-right: auto;
    border-top: none;
}

.dropdown .suggestion {
    padding: 10px;
    display: block;
    cursor: pointer;
    font-size: 18px;
    font-family: sans-serif;
}

.dropdown .suggestion:hover,
.dropdown .suggestion:focus {
    background-color: #0072C6;
    color: #fff;
}

.results {
    margin-top: 40px;
    padding: 30px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.results img {
    margin: 10px;
}

.image {
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .8);
}

.image.sticker {
    box-shadow: none;
}

.options {
    text-align: center;
}

.options button {
    margin-left: 30px;
    font-size: 12px;
    width: 70px;
    font-weight: bolder;
    line-height: .5;
    padding: 8px;
    border-radius: 16px;
    border: 4px solid #ccc;
    background-color: #eee;
    cursor: pointer;
    transition: all 200ms;
}

.options button:hover {

    border-color: lightgreen;

    box-shadow: -8px 6px 25px -10px rgba(0, 0, 0, .5);
    transform: translateX(2px) translateY(-1px);
}

.options button:focus {
    outline: none;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transform: translateX(0px) translateY(0px);
}

@media (max-width: 414px) {
    .options button {
        font-size: 10px;
    }
}
